<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Workshop Bootstrap/jQuery{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/parsley.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="workshop-nav navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <span class="navbar-brand">World of Markdown</span>
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_route') in ['homepage'] %}active{% endif %}">
                        <a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') in ['registration', 'registered'] %}active{% endif %}">
                        <a href="{{ path('registration') }}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="workshop-main container">
            {% block body %}{% endblock %}
        </section>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/parsley.js') }}"></script>
        <script src="{{ asset('js/uniqueEmailValidator.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
